i {
  cursor: pointer;
}
.returned-page__title { margin-top:20px; }@media (max-width:575px) { .returned-page__title { margin:16px; font-size:1.45rem; }.returned-page__title + hr { margin-right:16px; margin-left:16px; }.returned-page__title ~ .alert { margin-right:16px; margin-left:16px; } }
